
p{
    
    font-family: 'Source Sans Pro', sans-serif;
}

h1 h2{
    font-family: 'Roboto', sans-serif;
}

.thickletters{
    font-weight: bold;
}



button a{
    text-decoration: none;
    color: white;
}

a{
    text-decoration: none;
    color: white; 
}

.selector-for-some-widget {
    box-sizing: content-box;
  }


h2{
    text-decoration: underline;
}


  .img-fluid {
      max-width: 100%;
      height: auto;
  }

.background-image1{
  background-image: url("style-image/background-05.png"); 
  background-size: 100% 100%;
  background-attachment: fixed;
  padding: 20px;
}

.background-image2{
    background-image: url("style-image/wireframe, visual designs-05.png"); 
    background-size: 100% 100%;
    background-attachment: fixed;
    padding: 20px;
  }

  .background-image3{
    background-image: url("style-image/tumblr_static_tumblr_static_abbmvt9p2tc0w08wgkcwk48cw_640.jpg"); 
    background-size: 100% 100%;
    background-attachment: fixed;
    padding: 20px;
  }

.font-color{
    color: white;
}

/* Centered text */
.centered-right {
    position: absolute;
    top: 40%;
    left: 55%;
    font-size: 1.5em;
    color: white;
}

.centered-left {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    color: white;
}

.row{
    margin-top: 20pt;
    margin-bottom: 20pt;
}

.footer {
    background-color: white;
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding: 50px;
    margin-top: 30px;
  }
  
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: inline-block;
    vertical-align: top;
  }
  



 /* MEDIA QUERIES
*********************************************/


/* Extra small devices (portrait phones, less than 576px)
/ No media query since this is the default in Bootstrap*/


/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {}


/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {
    
    .centered-right{
        font-size:3.5em; 
    }
    .centered-left{
        font-size:3.5em; 
    }
}


/* Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {}